name: Deploy to Wasmer

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Install Wasmer CLI
      run: |
        curl https://get.wasmer.io -sSfL | sh -- --no-modify-profile
        source $HOME/.wasmer/wasmer.sh
        wasmer --version

    - name: Deploy to Wasmer
      env:
        WASMER_TOKEN: ${{ secrets.WASMER_TOKEN }}
      run: |
        source $HOME/.wasmer/wasmer.sh
        wasmer login $WASMER_TOKEN
        cd $GITHUB_WORKSPACE
        wasmer deploy --owner incjosiah
